body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    background-image: url(tengerpart.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}