body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    background-image: url(tengerpart.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Tengerpart\ fejléc.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
    transition: background-image 0.5s ease;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 8px black;
}